<div id="<%= dom_id order %>">
  <p>
    <strong>Amount:</strong>
    <%= order.amount %>
  </p>

  <p>
    <strong>Shipping address:</strong>
    <%= order.shipping_address %>
  </p>

  <p>
    <strong>Order address:</strong>
    <%= order.order_address %>
  </p>

  <p>
    <strong>Order email:</strong>
    <%= order.order_email %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

</div>
