<p style="color: green"><%= notice %></p>
<div class="row">
    <div class="col-md-8 cart">
        <div class="title">
            <div class="row">
                <%= link_to "Back", products_path %>
                <div class="col"><h1>Cart</h1></div>
                <div class="dropdown-divider mb-4"></div>
            </div>
        </div>
        <% if @cart.empty? %>
          <p>Your cart is empty</p>
        <% else %>
          <% @cart.each do |product| %>
            <div class="row">
                <div class="row main align-items-center">
                    <div class="col-2">
                      <% if product.image.attached?%>
                        <p>
                          <%= image_tag product.image.variant(resize_to_fill: [262, 200]), :class => "w-100", alt: product.name %>
                        </p>
                      <% else %>
                        <p class="text-center">No product image</p>
                      <% end %>
                    </div>
                    <div class="col ms-4">
                        <div class="row"><%= link_to product.category.name, product.category, :class => "text-muted small m-0" %></div>
                        <div class="row"><%= link_to product.name, product %></div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#">1</a><%= link_to "+", add_quantity_path() %>>
                    </div>
                    <div class="col">
                      <%= number_to_currency(product.price.fdiv(100)) %>
                    </div>
                    <div class="col">
                      <%= link_to "Remove", remove_from_cart_path(product.id), data: { "turbo-method": :delete } %>
                    </div>
                </div>
                <div class="dropdown-divider mb-4"></div>
            </div>
          <% end %>
        <% end %>
    </div>
</div>
